name: CI - Build and Push

on:
  push:
    branches: [ main ]
    paths:
      - 'app.py'
      - 'requirements.txt'
      - 'Dockerfile'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push to Docker Hub
      uses: docker/build-push-action@v4
      with: 
      # Build in current directory
        context: . 
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/devops-flask-demo:latest
          ${{ secrets.DOCKERHUB_TOKEN }}/devops-flask-demo:${{ github.sha }}